#carousel img {
    width: 100%;
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
}

.nabvar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

#nombre {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#nombre h1 {
    margin-top: 6px;
    margin-bottom: 0;
}

#navbar img {
    margin: 0 15px 0 0;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.hides {
    visibility: hidden;
}

.animacion {
    visibility: hidden;
    font-size: 5vh;
    -webkit-animation-name: fadeInDown, hides;
            animation-name: fadeInDown, hides;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes hides {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@keyframes hides {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

.fondo {
    background-color: rgba(0, 0, 0, .9);
    width: 50vw;
    margin: 0 auto 15px;
}

#habilidades {
    height: 380px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between
}


#footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#footer img {
    width: 40px;
    height: 40px;
}

.rede:hover {
    -webkit-animation-name: tada;
            animation-name: tada;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}
